
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.header-background {
  background: linear-gradient(90deg, #66b2a5, #d8a5d9);
  /* background-color: #375c55; */
  border-bottom: none !important; /* Remove border */
  box-shadow: none !important; /* Remove shadow */
  margin-bottom: 0 !important; /* Remove extra margin */
  padding-bottom: 0 !important; /* Remove extra padding */
}

.header_button {
  margin-left: auto;
}

.navbar-header {
  display: flex;
  gap: 20px;
  /* background-color: red; */
}

Nav a {
  text-decoration: none;
}

h2 {
  text-align: center;
  padding-top: 30px;
}

.admin-mainContainers {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-subcontainers {
  display: flex;
  flex: 1;
  gap: 20px;
}

.admin-containers {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid #000;
  padding: 18px;
}

.combo {
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: 3rem;
}

.admin-containers h5 {
  font-size: 3rem;
  font-weight: bold;
}

/* footer */

.footer {
  margin-top: 50px;
  padding: 30px;
  background: linear-gradient(90deg, #66b2a5, #d8a5d9);
  display: flex;
  gap: 50px;
  color: #fff;
  padding-top: 40px;
  width: 100%;
}

.firstsection_footer {
  flex: 1;
  text-align: center;
}

.firstsection_footer h5 {
  padding-left: 17px;
}

.footer_logo {
  width: 40px;
}

.middlesection_footer {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex: 3;
}

.middlesection_footer p {
  width: 30%;
}

.middlesection_footer button {
  margin-top: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 13px;
  padding: 12px;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  font-weight: bold;
}

.middlesection_footer button:hover {
  background-color: rgb(167, 211, 211);
  color: #000000;
  border: none;
  transition: 0.7s;
}

.lastsection_footer {
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
}

.lastsection_footer img {
  width: 30px;
  flex: 1;
}

.lastsection_footer nav {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.lastsection_footer nav a {
  text-decoration: none;
  color: #ffffff;
  justify-content: space-evenly;
  font-weight: bold;
}

.lastsection_footer nav a:hover {
  text-shadow: 0px 0px 8px #a7d3d3;
}

/* financial page */
.financialContainer_main {
  width: 80%;
  margin: 20px auto;
  /* background-color: red; */
}

.financialContainer_firstSection {
  padding: 20px;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  /* transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; */
  transition: background-color 1s, transform 1s, box-shadow 1s;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.financial-subhead {
  text-align: left;
  padding: 20px;
}

.financialContainer_secondSection {
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #45c5b8;
  /* background: linear-gradient(135deg, var(--color-pink), var(--color-teal)); */
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

.edit {
  /* background: #28a745;
  color: white; */
  margin: 0 10px;
  padding: 5px 16px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  /* transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; */
  transition: background-color 1s, transform 1s, box-shadow 1s;
  cursor: pointer;
}

.delete {
  /* background: #28a745;
  color: white; */
  margin: 0 10px;
  padding: 5px 16px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  /* transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; */
  transition: background-color 1s, transform 1s, box-shadow 1s;
  cursor: pointer;
}

/* .financialContainer_thirdSection {
  padding: 20px;
} */

.financial-summary {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.summary-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.chart-placeholder {
  text-align: center;
  font-size: 16px;
  color: #666;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #ccc;
  border-radius: 5px;
}

/* expense page style */

.expenses_mainSection {
  padding: 20px;
  /* background-color: red; */
}

.expenses_firstSection {
  display: flex;
  justify-content: space-between;
}

.child_firstSection-1 {
  display: flex;
  align-items: center;
  /* background-color: rgb(230, 178, 178); */
  gap: 5px;
}

.expenses_subDivision {
  padding: 30px;
  display: flex;
  background-color: rgb(245, 245, 245);
  /* height: 200px; */
}

.expenses_subDivision-left {
  flex: 1;
  /* border-right: 1px solid #000; */
  /* background-color: rgb(177, 133, 133); */
}

.expenses_subDivision-left nav a {
  color: #807c7c;
  text-decoration: none;
}

.expenses_subDivision-left nav {
  display: flex;
  flex-direction: column;
}

.expenses_subDivision-right {
  flex: 5;
  padding-left: 30px;
  /* background-color: red; */
  /* background-color: rgb(59, 19, 19); */
}

.right_subDivision-1 {
  background-color: #ffffff;
  border: 1px solid #c2c2c2;
  padding: 30px;
  border-radius: 18px;
}

.right_subDivision-1 input {
  width: 400px;
}

.right_subDivision-1 textarea {
  width: 650px;
}

.form_Section {
  display: flex;
  flex-direction: column;
}

.right_subDivision-2 {
  margin-top: 30px;
  background-color: #ffffff;
  border: 1px solid #c2c2c2;
  padding: 30px;
  border-radius: 18px;
}

.right_subDivision-2 button {
  display: block;
  margin: 0 auto;
}

/* donation page */

.donation-container {
  text-align: center;
  margin-top: 20px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
}

.goBack_Button {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.goBack_Button h4 {
  margin: 0;
  font-size: 16px;
}

.donation-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.donation-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0;
}

.donation-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
  justify-items: center;
}

.donation-card {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 250px;
}

.donation-card p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.select-amount-heading {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0;
}

.donation-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.donation-btn {
  background: #002f6c;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.donation-btn:hover {
  background: #0056b3;
}
